@import url('https://fonts.googleapis.com/css?family=Open+Sans:regular,bold|Rammetto+One');

html, body {
    padding: 0;
    margin: 0;
}

/****** The navigation bar ******/
.navbar {
    overflow: hidden;
    background-color: #330033;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    font-weight: bold;
}

/* Unordered list styling in nav */
.navbar ul {
    list-style-type: none;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #CCCCFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    color: #CC99CC;
}

#active {
    color: #FFF;
}

/****** Body and content styling ******/
body{
    font-family: 'Open Sans', serif;
    color: #31333B;
 }
 
 .container {
    width: 100%;
}

/* Main content */
article {
    margin: 100px auto; /* Add a top margin to avoid content overlay */
    width: 75%;
    padding-left: 15px;
}

/* Ordered list styling */
ol .alpha {
    list-style-type: lower-alpha;
}

/* Link styling */
a {
    color: #577399;
    font-weight: bold;
}


/**** Heading styling ****/
h1, h2 {
    font-family: 'Rammetto One', cursive;
}

h1 {
    text-transform: uppercase;
    color: #339999;
    font-size: 3.5em;
}

h2 {
    text-transform: lowercase;
    color: #669999;
    padding-top: 15px;
}

h3 {
    text-transform: uppercase;
    padding-top: 20px;
    color: #336666;
}


/**** Footer styling ****/
footer {
    padding-left: 5px;
    font-size: 0.75em;
}