@import url('https://fonts.googleapis.com/css?family=Open+Sans:regular,bold|Rammetto+One');

html, body {
    padding: 0;
    margin: 0;
}

/****** Navigation styling ******/
.nav {
    list-style: none;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #330033;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    /* Bring the nav above everything else--uncomment if needed.
    position: relative;
    z-index: 5;
    */
}
.nav li {
    float: left;
    margin-right: 10px;
    position: relative;
}
.nav a {
    display: block;
    padding: 14px 16px;
    color: #CCCCFF;
    text-decoration: none;
}


/*--- DROPDOWN ---*/
.nav ul {
    background-color: #FFF; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background: rgba(51,0,51,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style: none;
    position: absolute;
    left: -9999px; /* Hide off-screen when not needed (this is more accessible than display: none;) */
}
.nav ul li {
    float: none;
}
.nav ul a {
    white-space: nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
.nav li:hover ul { /* Display the dropdown on hover */
    left: 0; /* Bring back on-screen when needed */
}
.nav li:hover a { /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    background-color: #CC99CC;
    color: #330033;
    text-decoration: underline;
}
.nav li:hover ul a { /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration: none;
}

/* Hover states */
.nav li:hover ul li a:hover { /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background-color: #BAABBD;
}

#active {
    color: #FFF;
}


/****** Secondary nav ******/
.second-nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.second-nav li{
    display:inline;
}
.second-nav a{
    display:inline-block;
    padding:10px;
}

#second-nav-active {
    text-transform: uppercase;
    color: #330033;
    text-decoration: none;
}


/****** Body and content styling ******/
body {
    font-family: 'Open Sans', serif;
    color: #31333B;
}

.intro {
    color: #330033;
    font-size: 1.5em;
}

.container {
    width: 100%;
}

/* Main content */
article {
    margin: 100px auto; /* Add a top margin to avoid content overlay */
    width: 75%;
    padding-left: 15px;
}

section {
    padding-top: 15px;
}

/* Ordered list styling */
ol .alpha {
    list-style-type: lower-alpha;
}

/* Link styling */
a {
    color: #577399;
    font-weight: bold;
}


/**** Heading styling ****/
h1, h2 {
    font-family: 'Rammetto One', cursive;
}

h1 {
    text-transform: uppercase;
    color: #339999;
    font-size: 3.5em;
}

h2 {
    text-transform: lowercase;
    color: #669999;
    padding-top: 15px;
}

h3 {
    text-transform: uppercase;
    padding-top: 20px;
    color: #336666;
}


/**** Footer styling ****/
footer {
    padding-left: 5px;
    font-size: 0.75em;
}

/* Much thanks to CSSWizardry.com for a pure HTML & CSS dropdown menu. */